html,
body {
  padding: 0;
  margin: 0;
  font-family: Segoe UI, -apple-system;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
  animation: 2s ease-out 0s 1 FadeIn;
  [dir="rtl"] & {
    font-family: "NotoSansArabic-Regular" !important;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "NotoSansArabic-Regular";
  src: url(/fonts/NotoSansArabic-Regular.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// h1,
// h2 {
//   font-family: segoSemiBold;
// }
:root {
  --primary-color: #29b965;
  --white-color: #fff;
  --bg-light-gray: #f5f7f6;
  --border-radius: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  color: #000;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
